<p class="font-bold text-2xl"><%= chicken.name %></p><br/>
<% if chicken.image_url %>
  <%= image_tag(chicken.image_url, width: 300, class:'rounded-2xl' ) %>
<% end %>
<p class="text-blue-800 font-semibold hover:font-bold text-lg"><br/>
  <%= link_to "ðŸ—’ï¸ Details", chicken %>
</p>