<div id="<%= dom_id chicken %>">
  <p>
    <strong>Name:</strong>
    <%= chicken.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= chicken.breed %>
  </p>

  <p>
    <strong>Tell:</strong>
    <%= chicken.tell %>
  </p>

</div>
