<% content_for :title, "Editing chicken" %>

<h1>Editing chicken</h1>

<%= render "form", chicken: @chicken %>

<br>

<div>
  <p><%= link_to "Show this chicken", @chicken %></p>
  <br/>
  <p><%= link_to "Back to chickens", chickens_path %></p>
</div>
