<% content_for :title, "Editing egg entry" %>

<h1>Editing egg entry</h1>

<%= render "form", egg_entry: @egg_entry %>

<br>

<div>
  <%= link_to "Show this egg entry", @egg_entry %> |
  <%= link_to "Back to egg entries", egg_entries_path %>
</div>
