<h1 class="font-bold text-4xl text-blue-500 pb-10">Acknowledgements</h1>
<ul class="pb-10 text-lg">
  <li class="font-bold">Bookis</li>
  <li class="font-semibold">Jack</li>
  <li class="font-bold">Michael & Tina</li>
  <li class="font-semibold">Emily</li>
  <li class="font-bold">Wade</li>
  <li class="font-semibold hover:text-lime-700"><a href="https://github.com/ddnexus/pagy">Domizio</a></li>
  <li class="font-bold hover:text-lime-700"><a href="https://malachirails.com/">Malachi</a></li>
</ul>

<div class="w-100 justify-self-center">
  <hr>
  <p class="pt-10 pb-5 font-bold">Without y'all, this app wouldn't even exist.</p>

  <p class="pb-5">Thank you all for the technical advice, code review, encouragement, gems, explanations, app name ideas, and extra coffee.</p>

  <p class="pb-5">This app started on napkins and scratch paper. Wherever the future leads, I'm grateful to be here.</p>

  <p class="pb-5 font-bold">Thank you.</p>
</div>

