<% content_for :title, "Acknowledgements" %>

<h1 class="font-bold text-4xl text-blue-500 pb-10">Acknowledgements</h1>
<p class="font-bold text-2xl text-amber-700 pb-5">Thank you to:</p>
<ul class="pb-10 text-lg">
  <li class="font-bold pb-1">Bookis</li>
  <li class="font-semibold pb-1">Jack</li>
  <li class="font-bold pb-1">Michael & Tina</li>
  <li class="font-semibold pb-1">Emily</li>
  <li class="font-bold pb-1">Wade</li>
  <li class="font-semibold hover:text-lime-700 pb-1"><a href="https://github.com/ddnexus/pagy">Domizio</a></li>
  <li class="font-bold hover:text-lime-700 pb-1"><a href="https://malachirails.com/">Malachi</a></li>
</ul>

<div class="w-100 justify-self-center">
  <hr>
  <p class="pt-10 pb-5 font-bold">Without y'all, this app wouldn't even exist.</p>

  <p class="pb-5">Thank you all for the technical advice, code review, encouragement, gems, explanations, app name ideas, and extra coffee.</p>

  <p class="pb-5">This app started on napkins and scratch paper.</p>
  
  <p class="pb-5">Wherever the future leads, I'm grateful to be here.</p>

  <p class="pb-5 font-bold">Thank you.</p>
</div>