<p>FAQ page</p>

<div class="text-left">
  <p class="font-bold">[define flock mode]</p>
  <p>you might want to use flock mode if:</p>
  <ul>
    <li>reason 1</li>
    <li>reason 2</li>
    <li>reason 3</li>
  </ul>
  <br/>

  <p class="font-bold">[define layer mode]</p>
  <p>you might want to use layer mode if:</p>
  <ul>
    <li>reason 1</li>
    <li>reason 2</li>
    <li>reason 3</li>
  </ul>
</div>