<div id="<%= dom_id collection_entry %>">
  <p>
    <strong>Count:</strong>
    <%= collection_entry.count %>
  </p>

  <p>
    <strong>User:</strong>
    <%= collection_entry.user_id %>
  </p>

  <p>
    <strong>Chicken:</strong>
    <%= collection_entry.chicken_id %>
  </p>

</div>
