<div id="<%= dom_id collection_entry %>">
  <p>
    <strong>Date:</strong>
    <%= collection_entry.created_at.strftime("%m/%d/%Y") %>
  </p>
  

  <p>
    <strong>User:</strong>
    <%= collection_entry.user_id %>
  </p>

  <p>
    <strong>Chicken Name:</strong><br/>
    [replace id field with user-friendly name readout]
  </p>

</div>
