<div class="my-5 bg-slate-100 rounded-md p-4 flex items-center justify-center" >
  <p>no longer in use; holding onto file just in case<p>
  <p>egg entry form partial inside collection entries dir</p>
</div>