
<!--# egg_entries_attributes: [{chicken_id: 2, egg_count: 1,
 id: 1}]-->




<!-- code that was in the CE form -->
<div>
  <h4>EGG ENTRY</h4>

    <h5>Chicken: </h5>
    <select name="collection_entry[egg_entries_attributes][][chicken_id]" class="border-1 rounded 2xl">

      <!-- form.collection_select :chicken_id, Chicken.all, :id, :name, prompt: true -->
      <% @chickens.each do |chicken| %>
        <option value="<%= chicken.id %>"><%= chicken.name %></option>
      <% end %>
    </select><br/><br/>

    <h5>Egg Count</h5>
    <input name="collection_entry[egg_entries_attributes][][egg_count]" class="border-1 rounded 2xl"/><br/><br/>
</div>
