<% if !@collection_entries.exists? %>
      <p class="font-semibold">Uh oh! None logged yet.</p>
<% else %>
  <p class="text-5xl">
  <% @collection_entries.each do |collection_entry| %>
    <% collection_entry.egg_entries.sum(:egg_count).times do %>
      🥚
    <% end %>
  <% end %></p>
<% end %>