<br/>
<% content_for :title, "Editing collection entry" %>

<h2 class="font-extrabold text-lime-700 text-3xl pb-7">EDIT</h2>

<%= render "form", collection_entry: @collection_entry %>

<br>

<div class="py-6 md:shrink-0 w-100 md:w-150 items-center justify-self-center border border-blue-200 rounded-2xl bg-blue-100 text-lg text-blue-950">
  <%= link_to "ðŸ”Ž Show this collection entry", @collection_entry, class:'hover:font-bold' %><br/><br/>
  <%= link_to "â¬…ï¸Back to all entries", collection_entries_path, class:'hover:font-bold' %><br/>
</div>
