<p style="color: green"><%= notice %></p>

<% content_for :title, "Collection entries" %>

<h2 class="font-extrabold text-green-700 text-2xl pb-7">COLLECTION ENTRIES</h2>

<div id="collection_entries" >
  <% @collection_entries.each do |collection_entry| %>
    <div class="py-6 border border-amber-500">
      <%= render collection_entry %>
      <p class="text-blue-400 hover:text-blue-600">
        <%= link_to "Show this collection entry", collection_entry %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New collection entry", new_collection_entry_path %>