<% content_for :title, "New Collection Entry" %>

<h1 class="font-extrabold text-3xl text-blue-600 my-5 uppercase">New Collection Entry</h1>

<%= render "form_container", collection_entry: @collection_entry %>