<br/>
<% content_for :title, "New collection entry" %>

<h1 class="font-extrabold text-4xl text-blue-600">NEW COLLECTION ENTRY</h1><br/><br/>

<%= render "form", collection_entry: @collection_entry %>

<br>

<div>
  <%= link_to "Back to collection entries", collection_entries_path %>
</div>
