<br/>
<% content_for :title, "New collection entry" %>

<h1 class="font-extrabold text-3xl text-blue-600">NEW COLLECTION ENTRY</h1><br/><br/>

<%= render "form_container", collection_entry: @collection_entry %>

<br>