<% content_for :title, "Households" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Households</h1>
    <%= link_to "New household", new_household_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="households" class="min-w-full">
    <% if @households.any? %>
      <% @households.each do |household| %>
        <%= render household %>
        <p>
          <%= link_to "Show this household", household, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center my-10">No households found.</p>
    <% end %>
  </div>
</div>
